Battle_Tank/.vs/Battle_Tank/v15/Browse.VC.db
Battle_Tank/Intermediate/
Battle_Tank/Binaries/Win64/UE4Editor-Battle_Tank.pdb
Battle_Tank/Saved/Backup/Battle_Ground_2018-10-23-18-12-24.umap
Battle_Tank/Config/
Battle_Tank/Saved/AutoScreenshot.png
Battle_Tank/Saved/Autosaves/PackageRestoreData.json
Battle_Tank/Saved/Autosaves/Game/Saved_Level/Battle_Ground_Auto1.umap
Battle_Tank/Saved/Logs/Battle_Tank.log
Battle_Tank/Saved/Config/Windows/OculusVR.ini
Battle_Tank/Saved/Config/CrashReportClient/UE4CC-Windows-F95DFFF8409400331CE50080F38B77A9/CrashReportClient.ini
